body {
    background-color: rgb(251, 251, 251);
    padding-left: 8%;
    padding-right: 8%;
}
a {
    text-decoration: none;
}
h1, h2, h3, p {        
    color: #26272A;    
    display: inline;
}
h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 20px;
}
p, button {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
}
.center {
    display: flex;
    justify-content: center;
}
.nav-bar {
    overflow: auto;
    display: flex;
    align-items: center;
}
.nav-links {
    margin-left: auto
}
.menu-item {
    display: inline-block;
    text-decoration: none;
    color: #26272A;
    font-size: 16px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
}
#logo {
    color: #26272A;
    font-size: 35px;
    font-weight: bold;
}
#desk-img {
    float: right;
}
.content {
    display: flex;
    justify-content: space-between;
}
.program {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    width: 150px;    
}
.checked {
    color: orange;
}
.program-img {
    width: 100px;
    transition: 0.5s;
}
.program-img:hover {
    transform: scale(1.05);
}
.social {
    width: 50px;
    padding-right: 10px;
    transition: .5s;
}
.social:hover {
    transform: translateY(-10px);
}
.section-break {
    height: 80px;
}
/*UX*/
.card {
    display: flex;
    background-color: white;
    border-radius: 25px;
    z-index: -2;
    box-shadow: 20px 20px 10px rgba(52, 52, 52, 0.040);
    padding: 4% 2% 4% 2%;    
    margin: 3% 0;
    width: fit-content;
    transition: 0.5s;    
}
.card:hover {
    transform: scale(1.02);
    box-shadow: 30px 30px 10px rgba(52, 52, 52, 0.060);
}
.video-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3%;
}
.information {
    overflow-wrap: break-word;
    margin-bottom: 5%;
}
.ux-image {
    width: 400px;
    height: 300px;
}
.option {
    margin-right: 3%;
}
.number {
    position: relative; 
    bottom: 75px;    
}
.shadow {
    height: 60px;
    width: 80px;
    background-color: #c4c4c4;
    position: relative;
    left: 10px;
    top: 10px;
    z-index: 0;
    transition: 0.5s;
}
.title {
    transition: 0.06s;
}
.title:hover {
    color: #0087ca;
    text-decoration: underline;
}
button {
    text-decoration: none;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    cursor:pointer;
}
.primary-button {
    background-color: #0087ca;
    color: white;
    border: 2px solid #0087ca;
    opacity: 1;
    transition: 0.1s;
}
.primary-button:hover {
    opacity: 0.8;
}
.primary-button:active {
    opacity: 1;
    background-color: #0070a7;
    border: 2px solid #0070a7;
}
.secondary-button {
    background-color: white;
    color: #0087ca;
    border: 2px solid #0087ca;
    transition: 0.1s;
}
.secondary-button:hover {
    opacity: 0.8;
}
.secondary-button:active {
    opacity: 1;
    background-color: #0087ca;
    color: white;
    border: 2px solid #0087ca;
}
@media (max-width: 1020px) {
    .option  {
        display: none;
    }
    .card {             
        padding: 4% 4% 4% 4%;       
        flex-wrap: wrap;
    }
    .ux-image {
        width: auto;
    }
    .video-information {
        margin-left: 0px;
    }
    .button-section {
        display: flex;
        gap: 10px
    }
}

