body {
    background-color: rgb(251, 251, 251);
    margin-left: 80px;
    margin-right: 80px;
}
.nav-bar {
    /*background-color: yellow;*/
    overflow: auto;
    display: flex;
    align-items: center;
}
.nav-links {
    margin-left: auto
}
#logo {
    color: #26272A;
    font-size: 30px;
    font-weight: bold;
}
.menu-item {
    display: inline-block;
    text-decoration: none;
    color: #26272A;
    font-size: 16px;
    padding: 10px 10px;
    font-family: 'Quicksand', sans-serif;
    /*background-color: brown;*/
}
.program-img {
    width: 50px;
    padding: 3px 3px;
}
.content {
    padding-left: 8px;
    padding-top: 60px;
    overflow: auto;
    display: flex;
}
#text-section #desk-img {
    display: inline-block;
}
#text-section {
    width: 500px;
}
#desk-img {
    padding-left: 300px;
    width: 600px;
}
h1 {    
    font-size: 60px;
    color: #26272A;
    font-family: 'Archivo Black', sans-serif;
    display: inline;
}
p {
    font-size: 16px;
    color: #26272A;
    font-family: 'Quicksand', sans-serif;
    display: inline;
}
.social {
    width: 60px;
    padding-right: 15px;
    transition: .5s;
}
.social:hover {
    transform: translateY(-10px);
}